rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2021, 12, 9);
    }
  }
}

// users collection
// - any authenticated user can read & create
// - only users who 'own/created' a document can update it (user id's match)

// projects collection
// - any authenticated user can read, create & update a document
// - only users who 'own/created' a document can delete it 